.top__products {
    text-align: center;
    font-size: 30px;
    font-family: 'Sofia Sans', sans-serif;
}


.product {
    display: inline-block;
    margin-top: 20px;
    border: 1.5px solid black;
    border-radius: 25px;
    overflow: hidden;
    padding: 12px;
    max-width: 600px;
    max-height: 470px;
    margin-left: 35px;
    box-shadow: 1px 0.8px 0.2px 0px;
}

.product:hover {
    transition: background-color 600ms ;
    background-color: #00C9A7;
    cursor: pointer;
    color: black;
}

.product .product__img {
    width: 200px;
    height: 200px;
    display: block;
    max-width: 100%;
    left: 50px;
}

.content__description {
    font-size: 13px;
    font-weight: 300;
    text-transform:lowercase;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 35px;
    line-height: 1.2;
}

.content__title {
    background-color: #00C9A7;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    margin-bottom: 0px;
}

.content__title:hover {
    transition: background-color 600ms;
    background-color:#ffcd6f;
}

.content__title a {
    text-decoration: none;
    color: black;
}


main h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Sofia Sans', sans-serif;

}
@media only screen and (min-width: 600px){
    .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 
  }
 
